################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Skizzen_Editor/bin/Debug
/Skizzen_Editor/obj/Debug
/Skizzen_Editor/obj/Debug
/Skizzen_Editor/obj/Debug
